<div class="subscription_wrapper">
  <div class="subscription_header">
    <h1>Configured subscriptions</h1>
  </div>
  <div class="fields_area">
    <div class="subscription" id="subscription">
      <%= render 'subscription', subscription: @subscription, option_params: @index_options %>
    </div>
  </div>
</div>

<script>
  loadSubscription();
  function loadSubscription() {
    $(".field_wrapper.subscribing").find("input[type='checkbox']").change(function () {
      $thisFieldWrapper = $(this).parent().parent().parent().parent();
      if ($(this).prop('checked')) {
        $thisFieldWrapper.next().slideDown();
        $thisFieldWrapper.next().find("input[type='checkbox']").prop("checked", <%= ActivityNotification.config.subscribe_as_default %>);
        $thisFieldWrapper.next().next().slideDown();
        $thisFieldWrapper.next().next().find("input[type='checkbox']").prop("checked", <%= ActivityNotification.config.subscribe_as_default %>);
      } else {
        $thisFieldWrapper.next().slideUp();
        $thisFieldWrapper.next().next().slideUp();
        setTimeout(function () {
          $thisFieldWrapper.next().find("input[type='checkbox']").prop("checked", false);
          $thisFieldWrapper.next().next().find("input[type='checkbox']").prop("checked", false);
        }, 400);
      }
    })
  }
</script>

