<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th>#</th>
    <th data-dt-search-input="true">Description</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th>#</th>
    <th>Description</th>
  </tr>
  </tfoot>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "data": <%= invoice.invoice_items.to_json.html_safe %>,
        "paging":         true,
        "order": [[0, 'desc']],
        "columns": [
          { data: "line_item_order" },
          { data: "description" },
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell extra-toolbar'Bl><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>",
        buttons: [
          'excelHtml5'
        ]
      });

      initDataTable(dt);
    });
  </script>
<% end %>
