<h4>Add Expense Claim</h4>

<div class="row">
  <div class="large-8 columns">

    <%= form_for current_refinery_user.expense_claims.build, url: expense_claims_path do |f| %>

      <label>Description
        <%= f.text_field :description %>
      </label>

      <%= f.submit 'Add', class: 'button round small' %>

    <% end %>

  </div>
</div>
