[submodule "vendor/extensions/refinerycms-calendar"]
	path = vendor/extensions/refinerycms-calendar
	url = https://github.com/dannemanne/refinerycms-calendar.git
[submodule "vendor/extensions/refinerycms-employees"]
	path = vendor/extensions/refinerycms-employees
	url = https://github.com/dannemanne/refinerycms-employees.git
[submodule "vendor/extensions/refinerycms-marketing"]
	path = vendor/extensions/refinerycms-marketing
	url = https://github.com/dannemanne/refinerycms-marketing.git
[submodule "vendor/extensions/refinerycms-store"]
	path = vendor/extensions/refinerycms-store
	url = https://github.com/dannemanne/refinerycms-store.git
