version: "3"
services:
  db:
    image: "postgres:11"
    container_name: "my_postgres"
    ports:
      - "54320:5432"
    volumes:
      - my_dbdata:/var/lib/postgresql/data

  redis:
    image: 'redis:4.0-alpine'
    command: redis-server
    volumes:
      - 'redis:/data'

  web:
    build: .
    command: bundle exec foreman start
    volumes:
      - .:/myapp:delegated
    ports:
      - "5005:5000"
    depends_on:
      - db
      - redis
    tty: true
    stdin_open: true

volumes:
  my_dbdata:
  redis:
