<% content_for :body do %>
  <table class="display js_contacts_data_table responsive nowrap" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Code</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Tags</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Code</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Tags</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="7">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>
<% end %>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      var dt = $('.js_contacts_data_table').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": "<%= refinery.marketing_contacts_path %>",
        "serverSide": true,
        "searchDelay": 500,
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.marketing_contacts_path %>") } },
          { data: "name" },
          { data: "code" },
          { data: "email", "render": function(data, type, row) { return ['<span style="white-space: pre-wrap; word-wrap: break-word;">',data ? data : '','</span>'].join('') } },
          { data: "phone", "render": function(data, type, row){
            if(typeof data == 'undefined' || data === null || data == ''){
              return row.mobile;
            }else{
              return data;
            }
          } },
          { data: "country" },
          { data: "tags_joined_by_comma", "render": function(data, type, row) {
            if (typeof data == 'string') {
              var tags = data.split(',');
              var list = [];
              for (var i = 0; i < tags.length; i++) {
                // Ignore import tags
                if (!tags[i].match(/^import/)) {
                  list.push(['<span class="tagDT">',tags[i],'</span>'].join(''))
                }
              }
              return list.join(' ');
            } else {
              return '';
            }
          } }
        ]
      });

      initDataTable(dt);
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
