<% content_for :actions do %>
  <p><button class="button" data-open="js_shipment_form">Add new Shipment</button></p>

  <div class="reveal" id="js_shipment_form" data-reveal>
    <%= render 'quick_form', shipment: shipment %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
