<p class="t1"><%= link_to 'Register Annual Leave', main_app.new_leave_path, class: 'button round small' %></p>

<h4>Annual Leave</h4>

<div class="row bold">
  <div class="medium-6 columns">
    Comment
  </div>
  <div class="small-6 medium-3 columns">
    From
  </div>
  <div class="small-6 medium-3 columns">
    To
  </div>
</div>

<% if (leaves = current_refinery_user.leaves.order('starts_at DESC')).any? %>
  <% leaves.each do |leave| %>

    <div class="row">
      <div class="medium-6 columns">
        <%= leave.comment.blank? ? '(No comment)' : leave.comment %>
      </div>
      <div class="small-6 medium-3 columns">
        <%= leave.starts_at.strftime('%-d %b, %Y - %H:%M') %>
      </div>
      <div class="small-6 medium-3 columns">
        <%= leave.ends_at.strftime('%-d %b, %Y - %H:%M') %>
      </div>
    </div>

  <% end %>
<% else %>
  <div class="row">
    <div class="columns italic">
      You have not submitted any Annual Leave.
    </div>
  </div>
<% end %>
