<% content_for :body do %>

  <h1><%= @page.title %></h1>

  <ul class="medium-block-grid-2">
    <% @page.children.each do |child| %>
      <li>
        <h4><%= child.title %></h4>
        <% if child.children.any? %>
          <%= render 'refinery/pages/nested_pages', child_pages: child.children %>
        <% else %>
          <p class="italic">No sub-pages.</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
