<div class="row">
  <% if (side_body = @page.part_with_title('Side body')).try(:body).present? %>

    <div class="medium-8 columns">
      <h1 id="body_content_title">Sending Parcels</h1>
      <%=raw @page.part_with_title('Body').body %>
    </div>

    <div class="medium-4 columns">
      <%=raw side_body.body %>
    </div>

  <% else %>

    <div class="columns">
      <h1 id="body_content_title">Sending Parcels</h1>
      <%=raw @page.part_with_title('Body').body %>
    </div>

  <% end %>
</div>
