<% content_for :body do %>
  <h4>Pages</h4>

  <ul class="vertical menu drilldown" data-drilldown data-scroll-top="true">
    <% @page.children.each do |child| %>
      <% if child.user_authorized? current_authentication_devise_user %>
        <li>
          <%= link_to child.title, child.link_url.presence || '#' %>
          <% if child.children.any? %>
            <%= render 'refinery/nested_pages', child_pages: child.children %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
