.dataTable {
    tbody, tfoot, thead {
        th, td {
            text-overflow: ellipsis;
            overflow: hidden;

            padding: 0.5rem 0.2rem 0.625rem
        }

        td {
            vertical-align: top;
            max-width: 260px;
        }
    }

    tbody tr {
        transition-property: background;
        transition-duration: .1s;
        transition-timing-function: linear;

        &:hover {
            background: #9dd4f6;
        }
    }

    input, select {
        margin: 0;
        min-width: 70px;
    }

    .dt-date-range {
        input {
            display: inline-block;
            width: 45%;
        }
    }
}
