.dataTable {
    tbody, tfoot, thead {
        th, td {
            text-overflow: ellipsis;
            overflow: hidden;

            padding: 0.5rem 0.2rem 0.625rem
        }

        td {
            vertical-align: top;
        }
    }
}