.sidebar-item {
    margin-bottom: 1rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 0.2rem;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1.2rem 2.4rem;
    grid-template-areas:
            "title trailing"
            "content trailing";

    padding: 2px;
    border-radius: 2px;

    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

    &.with-preview {
        grid-template-columns: 45px 1fr 80px;
        grid-template-areas:
                "preview title trailing"
                "preview content trailing";
    }

    .item-preview {
        grid-area: preview;
        overflow: hidden;
    }

    .item-title {
        grid-area: title;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-content {
        grid-area: content;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
    }

    .item-trailing {
        grid-area: trailing;
        overflow: hidden;
        text-align: right;
    }
}
