.fields_area {
    border: 1px solid #e5e5e5;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.fields_area .fields_wrapper {
    position: relative;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.fields_area .fields_wrapper:last-child {
    border-bottom: none;
}

.fields_area .fields_wrapper .fields_title_wrapper {
    margin-bottom: 16px;
    border-bottom: none;
}

.fields_area .fields_wrapper .fields_title_wrapper .fields_title {
    font-size: 16px;
    font-weight: bold;
}

.fields_area .fields_wrapper .fields_title_wrapper p {
    position: absolute;
    top: 15px;
    right: 15px;
}

.fields_area .fields_wrapper .field_wrapper {
    margin-bottom: 16px;
}

.fields_area .fields_wrapper .field_wrapper:last-child {
    margin-bottom: 0;
}

.fields_area .fields_wrapper .field_wrapper.hidden {
    display: none;
}

.fields_area .fields_wrapper .field_wrapper .field_label {
    margin-bottom: 8px;
}

.fields_area .fields_wrapper .field_wrapper .field_label label {
    font-size: 14px;
}

.ui label {
    font-size: 14px;
}

/* button */
.ui.button button,
.ui.button .button {
    cursor: pointer;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 14px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
}

.ui.button button:first-child,
.ui.button .button:first-child {
    margin-left: 0;
}

.ui.text_field input {
    margin: 0;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 0 0 transparent inset;
}

/* checkbox */
.ui.checkbox {
    position: relative;
    left: 300px;
    margin-top: -30px;
}

.ui.checkbox input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.ui.checkbox .check-slider {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;

    padding: 2px;
    width: 36px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
}

.ui.checkbox .check-slider:before,
.ui.checkbox .check-slider:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.ui.checkbox .check-slider:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}

.ui.checkbox .check-slider:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

.ui.checkbox input:checked + .check-slider:before {
    background-color: #8ce196;
}

.ui.checkbox input:checked + .check-slider:after {
    margin-left: 18px;
}
