/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Label sibling text */
.switch ~ label {
    font-size: 0.83rem;
    line-height: 24px;
    vertical-align: bottom;
}

/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #ccc;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: #2196F3;
    border-color: #007eff;
}

input:focus + .switch-slider {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

input:disabled + .switch-slider {
    cursor: not-allowed;
}

input:disabled + .switch-slider:before {
    background: #ddd;
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 24px;
}

.switch-slider.round:before {
    border-radius: 50%;
}

/* Container styles handled by switch status */
.switch-content, .switch-off-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.switch.checked ~ .switch-content, .switch:not(.checked) ~ .switch-off-content {
    max-height: inherit;
    padding-left: 1rem;
    padding-bottom: 1rem;
    overflow: visible;
}

.switch.checked ~ label.switch-unchecked {
    display: none;
}

.switch:not(.checked) ~ label.switch-checked {
    display: none;
}
