<% content_for :actions do %>
  <p><button class="button" data-open="js_company_form">Add new Company</button></p>

  <div class="reveal" id="js_company_form" data-reveal>
    <%= render 'form', company: @company %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
