<table class="display js_companies_data_table responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th data-dt-search-input="true">Code</th>
    <th data-dt-search-input="true">Name</th>
    <th data-dt-search-input="true">Website</th>
    <th data-dt-search-input="true">Phone</th>
    <th data-dt-search-input="true">Email</th>
    <th data-dt-search-input="true">Country</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Code</th>
    <th>Name</th>
    <th>Website</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Country</th>
  </tr>
  </tfoot>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>

  <script type="text/javascript">
    $(function(){
      var dt = $('.js_companies_data_table').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": "<%= refinery.business_companies_path(filter_params) %>",
        "order": [[1, 'asc']],
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.business_companies_path %>") } },
          { data: "code" },
          { data: "name" },
          { data: "contact_website" },
          { data: "contact_phone" },
          { data: "contact_email" },
          { data: "contact_country" }
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell'l><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>"
      });

      initDataTable(dt)
    });
  </script>
<% end %>
