<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-8">

      <div class="grid-x grid-padding-x example example2">
        <div class="cell">
          <div class="field">
            <input id="example2-address" data-tid="elements_examples.form.address_placeholder" class="input empty" type="text" placeholder="185 Berry St" required autocomplete="address-line1">
            <label for="example2-address" data-tid="elements_examples.form.address_label">Address</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell medium-6">
          <div class="field">
            <input id="example2-city" data-tid="elements_examples.form.city_placeholder" class="input empty" type="text" placeholder="San Francisco" required autocomplete="address-level2">
            <label for="example2-city" data-tid="elements_examples.form.city_label">City</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell small-6 medium-3">
          <div class="field">
            <input id="example2-state" data-tid="elements_examples.form.state_placeholder" class="input empty" type="text" placeholder="CA" required autocomplete="address-level1">
            <label for="example2-state" data-tid="elements_examples.form.state_label">State</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell small-6 medium-3">
          <div class="field">
            <input id="example2-zip" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" type="text" placeholder="94107" required autocomplete="postal-code">
            <label for="example2-zip" data-tid="elements_examples.form.postal_code_label">ZIP</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell">
          <div class="field">
            <div id="example2-card-number" class="input empty"></div>
            <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell medium-6">
          <div class="field">
            <div id="example2-card-expiry" class="input empty"></div>
            <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell medium-6">
          <div class="field">
            <div id="example2-card-cvc" class="input empty"></div>
            <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="cell">
          <button type="submit" data-tid="elements_examples.form.pay_button">Pay</button>
        </div>

        <div class="cell">
          <span class="message"></span>
        </div>
      </div>


      <div class="example example2" id="example-2">

      </div>

    </div>

    <div class="cell medium-4">
      <h5>Order Summary</h5>
      <p><%= @item %> <span style="float: right;"><%= @qty %></span></p>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    $(function() {
      var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');

      var elements = stripe.elements({
        fonts: [
          {
            cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
          },
        ],
        // Stripe's examples are localized to specific languages, but if
        // you wish to have Elements automatically detect your user's locale,
        // use `locale: 'auto'` instead.
        locale: window.__exampleLocale
      });

      // Floating labels
      var inputs = document.querySelectorAll('.cell.example.example2 .input');
      Array.prototype.forEach.call(inputs, function(input) {
        input.addEventListener('focus', function() {
          input.classList.add('focused');
        });
        input.addEventListener('blur', function() {
          input.classList.remove('focused');
        });
        input.addEventListener('keyup', function() {
          if (input.value.length === 0) {
            input.classList.add('empty');
          } else {
            input.classList.remove('empty');
          }
        });
      });

      var elementStyles = {
        base: {
          color: '#32325D',
          fontWeight: 500,
          fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
          fontSize: '16px',
          fontSmoothing: 'antialiased',

          '::placeholder': {
            color: '#CFD7DF',
          },
          ':-webkit-autofill': {
            color: '#e39f48',
          },
        },
        invalid: {
          color: '#E25950',

          '::placeholder': {
            color: '#FFCCA5',
          },
        },
      };

      var elementClasses = {
        focus: 'focused',
        empty: 'empty',
        invalid: 'invalid',
      };

      var cardNumber = elements.create('cardNumber', {
        style: elementStyles,
        classes: elementClasses,
      });
      cardNumber.mount('#example2-card-number');

      var cardExpiry = elements.create('cardExpiry', {
        style: elementStyles,
        classes: elementClasses,
      });
      cardExpiry.mount('#example2-card-expiry');

      var cardCvc = elements.create('cardCvc', {
        style: elementStyles,
        classes: elementClasses,
      });
      cardCvc.mount('#example2-card-cvc');

      registerElements([cardNumber, cardExpiry, cardCvc], 'example2');
    });
  </script>
<% end %>

<% content_for :stylesheets do %>
  <style type="text/css">
    .example.example2 {
    }

    .example.example2 * {
      font-size: 16px;
      font-weight: 500;
    }

    .example.example2 .field {
      position: relative;
      height: 60px;
    }

    .example.example2 .baseline {
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #cfd7df;
      transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 label {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 8px;
      color: #cfd7df;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transform-origin: 0 50%;
      cursor: text;
      pointer-events: none;
      transition-property: color, transform;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding-bottom: 7px;
      color: #32325d;
      background-color: transparent;
    }

    .example.example2 .input::-webkit-input-placeholder {
      color: transparent;
      transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input::-moz-placeholder {
      color: transparent;
      transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input:-ms-input-placeholder {
      color: transparent;
      transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input.StripeElement {
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      will-change: opacity;
    }

    .example.example2 .input.focused,
    .example.example2 .input:not(.empty) {
      opacity: 1;
    }

    .example.example2 .input.focused::-webkit-input-placeholder,
    .example.example2 .input:not(.empty)::-webkit-input-placeholder {
      color: #cfd7df;
    }

    .example.example2 .input.focused::-moz-placeholder,
    .example.example2 .input:not(.empty)::-moz-placeholder {
      color: #cfd7df;
    }

    .example.example2 .input.focused:-ms-input-placeholder,
    .example.example2 .input:not(.empty):-ms-input-placeholder {
      color: #cfd7df;
    }

    .example.example2 .input.focused + label,
    .example.example2 .input:not(.empty) + label {
      color: #aab7c4;
      transform: scale(0.85) translateY(-25px);
      cursor: default;
    }

    .example.example2 .input.focused + label {
      color: #24b47e;
    }

    .example.example2 .input.invalid + label {
      color: #ffa27b;
    }

    .example.example2 .input.focused + label + .baseline {
      background-color: #24b47e;
    }

    .example.example2 .input.focused.invalid + label + .baseline {
      background-color: #e25950;
    }

    .example.example2 input, .example.example2 button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      border-style: none;
    }

    .example.example2 input:-webkit-autofill {
      -webkit-text-fill-color: #e39f48;
      transition: background-color 100000000s;
      -webkit-animation: 1ms void-animation-out;
    }

    .example.example2 .StripeElement--webkit-autofill {
      background: transparent !important;
    }

    .example.example2 input, .example.example2 button {
      -webkit-animation: 1ms void-animation-out;
    }

    .example.example2 button {
      display: block;
      width: calc(100% - 30px);
      height: 40px;
      margin: 40px 15px 0;
      background-color: #24b47e;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }

    .example.example2 .error svg {
      margin-top: 0 !important;
    }

    .example.example2 .error svg .base {
      fill: #e25950;
    }

    .example.example2 .error svg .glyph {
      fill: #fff;
    }

    .example.example2 .error .message {
      color: #e25950;
    }

    .example.example2 .success .icon .border {
      stroke: #abe9d2;
    }

    .example.example2 .success .icon .checkmark {
      stroke: #24b47e;
    }

    .example.example2 .success .title {
      color: #32325d;
      font-size: 16px !important;
    }

    .example.example2 .success .message {
      color: #8898aa;
      font-size: 13px !important;
    }

    .example.example2 .success .reset path {
      fill: #24b47e;
    }
  </style>
<% end %>
