<div class="grid-container">
  <div class="grid-x grid-x-padding">
    <div class="cell">
      <h2>Purchases:</h2>
      <% current_authentication_devise_user.purchases.each do |purchase| %>
      <h5><%= purchase.article_code %></h5>
      <p><%=number_to_currency purchase.total_cost, delimiter: ',', unit: 'USD ' %></p>
      <p><%= purchase.status %></p>
      <% end %>
    </div>
  </div>
</div>
