<div class="grid-container">
  <div class="grid-x grid-padding-x medium-up-2">
    <div class="cell contact-us-section-left">
      <h2 class="contact-us-header">Come Visit</h2>
      <div class="responsive-embed">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.7518536561533!2d114.14246661592877!3d22.287387848993333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404014832537d0f%3A0x75cd8e479d535d31!2sHappy+Rabbit!5e0!3m2!1sen!2shk!4v1554101112595!5m2!1sen!2shk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <ul class="contact-us-list">
        <li class="email"><a href="mailto:info@happyrabbit.com">info@happyrabbit.com</a></li>
        <li class="phone"><a href="tel:+85258043980">+852-5804 3980</a></li>
        <li class="address">2104, Wai Wah Commercial Centre</li>
        <li class="address-additional">6 Wilmer Street</li>
        <li class="address-additional">Sai Ying Pun, Hong Kong</li>
        <li class="address-additional">香港西營盤威利麻街6 號 威華商業中心 2104 室</li>
      </ul>
    </div>
    <div class="cell contact-us-section-right">
      <h2 class="contact-us-header">Get in Touch</h2>
      <%= form_tag zendesk_submit_path, class: 'contact-us-form' do %>
        <input type="text" placeholder="Full name" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <div style="display: none;">
          <input type="email" placeholder="Email" name="email2">
        </div>
        <textarea name="message" id="" rows="12" placeholder="Type your message here" required></textarea>
        <div class="contact-us-form-actions">
          <input type="submit" class="button" value="Send it" />
          <% if false %>
            <div>
              <label for="FileUpload" class="button contact-us-file-button">Attach Files</label>
              <input type="file" id="FileUpload" class="show-for-sr">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
