<div class="grid-container">
  <h2>Our Services</h2>

  <h4>Adding Value and Extending your Presence</h4>

  <div class="grid-x grid-padding-x small-up-1 medium-up-3">
    <div class="cell">
      <div class="card">
        <div class="card-divider">
          <h4>Consulting Services</h4>
        </div>
        <img src="https://loremflickr.com/480/240/laptop">
        <div class="card-section">
          <p>Design related services</p>
          <p><%= link_to '/services#consulting' do %>
              Read more <i class="fa fa-long-arrow-right"></i>
            <% end %></p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-divider">
          <h4>Sourcing Services</h4>
        </div>
        <img src="https://loremflickr.com/480/240/meeting">
        <div class="card-section">
          <p>We can help to find the perfect match for your specific needs.</p>
          <p><%= link_to '/services#sourcing' do %>
              Read more <i class="fa fa-long-arrow-right"></i>
            <% end %></p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-divider">
          <h4>Quality Assurance</h4>
        </div>
        <img src="https://loremflickr.com/480/240/inspection">
        <div class="card-section">
          <p>In-line production tracking and monitoring as well as final inspection reporting.</p>
          <p><%= link_to '/services#quality-assurance' do %>
              Read more <i class="fa fa-long-arrow-right"></i>
            <% end %></p>
        </div>
      </div>
    </div>
  </div>
</div>
