<section class="who-we-are">
  <div class="section-image-frame frame-left no-border">
    <%= image_tag 'happy-rabbit' %>
  </div>

  <div class="grid-container">
    <div class="section-content-half content-right">
      <h2>Introduction</h2>

      We are a sourcing organization active in the development and production of fabric, apparel, footwear and
      accessories for high profile brands from the premium fashion and lifestyle segment. As a strategic partner,
      we are offering a holistic sourcing solution, also including in-house product design, development and QC services.
      We consider ourselves a ‘Fashion Bureau’.
    </div>
  </div>
</section>

<section class="about-location grey-section">
  <div class="section-image-frame image-frame-left">
    <%= image_tag 'hong_kong' %>
  </div>

  <div class="grid-container">
    <div class="section-content-half">
      <h2>Location</h2>

      Being headquartered in Hong Kong, we are strategically located in proximity to our extensive network of vendors
      in China and South East Asia. Being ‘where it happens’, our international team combines extensive experiences
      from both the buying and manufacturing side of the industry with longstanding qualifications in design and brand
      management, giving us a rare and attractive position on the market.
    </div>
  </div>
</section>

<section class="about-brands">
  <div class="grid-container">
    <div class="section-content-half content-right">
      <h2>Brands</h2>

      The brands that choose to work with us are all unique, with a distinct set of needs. However, they all share the
      requirement for high quality products, services and the growing need of finding vendors compliant to their
      standards and ethics.
      We understand what it takes for brands to be successful in a market that is getting more competitive by the day,
      without neglecting the bottom line.
    </div>
  </div>
</section>

<section class="about-vendors grey-section">
  <div class="section-image-frame image-frame-left">
    <%= image_tag 'vendor' %>
  </div>

  <div class="grid-container">
    <div class="section-content-half">
      <h2>Vendors</h2>

      We are working with a carefully selected network of high quality vendors that we are constantly developing,
      assessing and expanding to meet the high standards of our clients.
      A crucial criterion in the selection of those long-term partners is the willingness and ability to develop with
      us, and the brands we work with, in order to meet the requirements of tomorrow.
    </div>
  </div>
</section>

<section class="about-our-team">
  <a name="our-team"></a>
  <div class="grid-container">
    <h2>Our Team</h2>

    <div class="featured-team grid-x grid-padding-x small-up-1 medium-up-2">
      <div class="cell">
        <div class="team-member">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/201/?random">
          <p class="team-member-presentation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="team-member">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/202/?random">
          <p class="team-member-presentation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="team-member">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/203/?random">
          <p class="team-member-presentation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="team-member">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/204/?random">
          <p class="team-member-presentation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
    </div>
  </div>
</section>
