<section class="section-careers">
  <div class="section-image-frame image-frame-left">
    <%= image_tag 'careers' %>
  </div>

  <div class="grid-container">
    <div class="section-content-half">
      <h2>Careers</h2>

      Happy Rabbit Limited is a rapidly growing company and we are constantly looking for talented and dedicated
      individuals to join our team. If you want to work for us, please send your CV to careers@happyrabbit.com and
      we’ll get back to you shortly.
    </div>
  </div>
</section>
