<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://loremflickr.com/960/480/factory" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://loremflickr.com/960/480/mill" alt="Space">
          <figcaption class="orbit-caption">Lets Rocket!</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://loremflickr.com/960/480/people" alt="Space">
          <figcaption class="orbit-caption">Encapsulating</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://loremflickr.com/960/480/travel" alt="Space">
          <figcaption class="orbit-caption">Outta This World</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>

<section class="who-we-are">
  <div class="section-image-frame">
    <%= image_tag 'hong_kong' %>
  </div>

  <div class="grid-container">
    <div class="section-content-half">
      <h2>Who we are</h2>

      We are a sourcing organization active in the development and production of fabric, apparel, footwear and accessories for high profile brands from the premium fashion and lifestyle segment. As a strategic partner, we are offering a holistic sourcing solution, also including in-house product design, development and QC services. We consider ourselves a ‘Fashion Bureau’.
    </div>
  </div>
</section>

<section class="our-services grey-section">
  <%= render 'services' %>
</section>

<section class="testimonials">
  <div class="grid-container">
    <h2>Testimonials</h2>

    <div class="featured-testimonials grid-x grid-padding-x small-up-1 medium-up-2">
      <div class="cell">
        <div class="testimonial">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/201/?random">
          <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="testimonial">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/202/?random">
          <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="testimonial">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/203/?random">
          <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
      <div class="cell">
        <div class="testimonial">
          <img class="profile-pic hide-for-small-only" src="https://unsplash.it/204/?random">
          <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
        </div>
      </div>
  </div>
</section>

<section class="contact-us grey-section">
  <%= render 'contact' %>
</section>
