<div class="grid-container">
  <div class="grid-x grid-x-padding">
    <% @page.parts.each do |section| %>
      <div class="cell">
        <%=raw section.body %>
      </div>
    <% end %>
  </div>
</div>
