<div class="grid-container">
  <div class="cell">
    <h2>In progress</h2>
    <p>
      The Happy Rabbit Portal is still in Beta and we are actively making changes. Our Terms and Conditions, as well as
      our Privacy Policy, is a work in progress, but if you have any questions or concerns, please reach out to your
      contact person at Happy Rabbit, or contact us at <a href="mailto:privacy@happyrabbit.com">privacy@happyrabbit.com</a>.
    </p>
  </div>
</div>
