<section class="contact-card">
  <table class="cc-table">
    <tbody>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :br_number %></th>
      <td><%= f.text_field :br_number %></td>
    </tr>
    </tbody>
  </table>
</section>
