<h2>Request for weekly WIP status update</h2>

<p>
  Please update the attached WIP file with the latest information and reply back to
  <a href="mailto:wip_status@happyrabbit.com">wip_status@happyrabbit.com</a>
  by the end of the workweek.
</p>

<p>A few tings to note:</p>

<ul>
  <li>Columns in Gray cannot be changed.</li>
  <li>Cells in red means it is outdated information and needs to be updated.</li>
  <li>
    <span style="color: red;">DO NOT</span>
    add or remove any rows in this file. If orders are cancelled or have split shipment,
    please inform Happy Rabbit production and shipping managers, so that they can amend in the original WIP.
  </li>
  <li>A new WIP file will be sent out every week. Do not update and send back a file form a previous week.</li>
  <li>Only send one WIP file in each email. Meaning if you have received more than one request for update, send them back in separate emails.</li>
</ul>

<p>Thank you!</p>
