<div class="grid-x grid-x-padding">
  <div class="cell text-align-center">
    <h1> Welcome  <%= @user %></h1>
  </div>
  <div class="cell text-align-center">
    <h2>Are you ready to pay?</h2>
  </div>
  <div class="cell text-align-center">
    <button class="button primary">Let's go </button>
  </div>
</div>
