<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <div class="js-wizard-form">
        <%= render 'wizard_form', form: @purchase_form %>
      </div>
    </div>
  </div>
</div>
