<% content_for :actions do %>
  <button class="button" data-open="js_project_form">New Project</button>

  <div class="reveal" id="js_project_form" data-reveal>
    <%= render 'form', project: @project %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
