<% @items = Refinery::News::Item.latest(2) %>
<% if @items.any? %>
  <ul class="latest-news">
    <% @items.each do |item| %>
      <li>
        <h5>
          <%= link_to item.title, refinery.news_item_path(item) %><br/>
          <small><%= item.publish_date.strftime('%d %b - %I:%M %P') %></small>
        </h5>
        <%- truncated_body = truncate  Nokogiri::HTML(item.body).inner_text, length: 200, escape: false,
                                       omission: "... #{link_to 'Read More', refinery.news_item_path(item)}" -%>
        <%= truncated_body.split("\r\n").map { |p| "<p>#{p}</p>" }.join.html_safe %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="italic">No News Items</p>
<% end %>
