<div class="grid-container">
  <div class="grid-x grid-x-padding">
    <div class="cell large-offset-3 large-6 medium-offset-1 medium-10 hide-for-small-only end">
      <div class="input-group">
        <input class="input-group-field" type="email" placeholder="Your email...">
        <div class="input-group-button">
          <input type="submit" class="button" value="Sign Me Up!">
        </div>
      </div>
    </div>

    <div class="cell show-for-small-only">
      <input class="input-group-field" type="email" placeholder="Your email..." style="margin-bottom: 1rem;">
    </div>

    <div class="cell show-for-small-only text-align-center">
      <input type="submit" class="button" value="Sign Me Up!">
    </div>
  </div>
</div>
