<div class="row">
  <div class="columns">
    <p class="copyright">
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => 'Happy Rabbit Limited') %>
    </p>
  </div>
</div>
