<ul class="menu vertical nested">
  <% child_pages.each do |page| %>
    <% if page.user_authorized? current_refinery_user %>
      <li>
        <%= link_to page.title, page.link_url.presence || '#' %>
        <% if page.children.any? %>
          <%= render 'refinery/nested_pages', child_pages: page.children %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
