<% if @page.try(:live?) %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <%= content_for :body %>
      </div>
    </div>
  </div>

<% else %>
  <%= render '/refinery/draft_page_message' -%>
<% end %>
