<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>Happy Rabbit</h3>
    </div>

    <div class="cell medium-2 medium-offset-6">
      <h5>Resources</h5>
      <ul>
        <li>Journal</li>
        <li>Glossary</li>
        <li>FAQs</li>
      </ul>
    </div>

    <div class="cell medium-2 end">
      <h5>Company</h5>
      <ul>
        <li>About Us</li>
        <li>News</li>
        <li>Media</li>
        <li>Careers</li>
        <li>Sustainability</li>
      </ul>

      <h5>Contact Us</h5>
      <p class="contact-us">
        <a href="https://wa.me/85258043980"><i class="fa fa-whatsapp"></i></a>
        <a href="https://t.me/happyrabbit"><i class="fa fa-telegram"></i></a>
        <a href="sms:85258043980"><i class="fa fa-comments"></i></a>
      </p>

      <h5>Follow Us</h5>
      <p class="follow-us">
        <a href="https://www.linkedin.com/company/happy-rabbit-limited/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/happyrabbitlimited"><i class="fa fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/happy_rabbit_group"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/happyrabbitltd"><i class="fa fa-twitter"></i></a>
      </p>
    </div>

    <div class="cell medium-5 end">
      <div class="input-group">
        <input class="input-group-field" type="email" placeholder="Your email...">
        <div class="input-group-button">
          <input type="submit" class="button" value="Sign Me Up!">
        </div>
      </div>
    </div>

    <div class="cell">
      <p>2019© Happy Rabbit Group. All rights reserved.</p>
    </div>
  </div>
</div>
