<% if @page.try(:live?) %>
  <%- body_contents = [@page.part_with_slug('body').try(:body), content_for(:body)].reject(&:blank?) -%>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <%=raw body_contents.join %>
      </div>
    </div>
  </div>

<% else %>
  <%= render '/refinery/draft_page_message' -%>
<% end %>
