<section class="page-section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <h1 class="text-align-center">Launching</h1>
        <h1 class="text-align-center">Soon</h1>

        <p class="text-align-center">
          We are launching our new site on the 27th of January.
          Please check back then!
        </p>
      </div>
    </div>

  </div>
</section>
