/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

html, body {
    height: 100%;
}

#page-container {
    height: auto !important;
    min-height: 100%;
    position: relative;

    #page {
        margin-bottom: 3rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
    }
}


html {
    background: image-url('background.jpg') #777 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page {
    background-color: #fff;
    padding-top: 1rem;
}

.copyright {
    color: #fff;
}

body.login {
    header {
        h1 {
            color: #fff;
        }
    }
}


/* HEADER */
a.social-media {
    display: inline-block;
    width: 3rem;
    height: 3rem;

    margin: 0.6rem 0.4rem 0;

    background-image: image-url('social-media.png');

    &.facebook {
        background-position: 0 0;
        &:hover { background-position: 0 -48px; }
    }
    &.twitter {
        background-position: -48px 0;
        &:hover { background-position: -48px -48px; }
    }
    &.instagram {
        background-position: -96px 0;
        &:hover { background-position: -96px -48px; }
    }
}


/* CONTENT */
section.page-part {
    padding: 0.5rem;
    margin: 0 0 1rem;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);

    .page-part-header {
        margin: -0.5rem -0.5rem 0.5rem -0.5rem;
        padding: 0.2rem;
        background-color: #ccc;
    }
}


/* Home */
.home-orbit {
    list-style: none;
    padding: 0;
    margin: 0;

    /* Makes sure that only the first slide is visible before the orbit is loaded */
    &:not(.orbit-slides-container) {
        li:not(:first-child) {
            display: none;
        }
    }
}

.orbit-timer {
    display: none;
}

.orbit-bullets-container {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

ul.latest-news {
    list-style: none;
    margin: 0;
    padding: 0;

    li:not(:last-child) {
        border-bottom: 2px solid #ccc;
    }
}

.events {
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;

    > li:not(:last-child) {
        border-bottom: 2px solid #ccc;
    }

    table {
        border: 0;
    }

    .event-date {
        width: 25%;
        vertical-align: middle;

        .event-day {
            display: block;
            font-size: 3rem;
            line-height: 1;
            color: #666;
        }

        .event-month {
            display: block;
            font-size: 1.5rem;
            font-weight: bold;
            color: #333;
        }
    }
    .event-description {
        width: 75%;
        vertical-align: middle;
    }
}


/* Filtering and Pagination on pages */
.filters {
    .active {
        font-weight: bold;
    }
}

.pages {
    .active {
        font-weight: bold;
    }
}


/* Employees */
.employees {

    .employee {
        height: 8rem;
        padding: 0.5rem;

        background-color: #eee;

        .profile-picture {
            float: left;
            margin-right: 0.5rem;

            width: 6rem;
            height: 6rem;
        }

        p {
            color: #666;
            margin: 0;
            font-size: 0.8rem;
        }
    }
}


/* Brands */
.brands {

    .brand {
        padding: 0.5rem;

        background-color: #eee;

        .logo {
            float: left;
            margin-right: 0.5rem;

            width: 6rem;
            height: 6rem;
        }

        p {
            color: #666;
            margin: 0;
            font-size: 0.8rem;
        }
    }
}


/* Store View */
.store-top-menu {
    width: 600px;
    margin: 0 auto;
    list-style: none;

    li {
        float:left;
    }

    a {
        display: block;
        text-align: center;
        color: #000;
        width: 150px; /* fixed width */
        text-decoration: none;

        &:hover {
            background-color: #eee;
            color: #000;
        }

        &.active-scope {
            font-weight: bold;
        }
    }
}

.store-product-card {

    padding: 0.3rem;

    .inner-product-card {
        padding: 1rem;
        border: 1px solid #ccc;

        .preview-missing {
            position: relative;
            border: 1px dashed #000;
            height: 10rem;

            p {
                position: absolute;
                width: 100%;
                text-align: center;
                font-style: italic;
                height: 1rem;
                margin-top: -0.5rem;
                top: 50%;
            }
        }

        img {
            width: 100%;
        }

        h1 {
            font-size: 1.2rem;
        }

        p {
            margin: 0;
        }
    }
}

.button.cart-button {
    font-size: 0.8rem;
    padding: 0.1rem;
    margin: 0;
}

.store-retailer-list {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        padding: 0.3rem;
        border: 1px solid #999;

        background-color: #eee;

        &:hover {
            background-color: #ccc;
            font-weight: bold;
        }

        a {
            color: #000;
        }
    }
}



/* Calendar view */
.calendar-events {
    overflow: hidden;

    .calendar-list-item {
        white-space: nowrap;
        text-overflow: ellipsis;
        border: 1px solid #333;

        padding: 0 0.2rem;

        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        border-radius: 0.75rem;

    }
}

.row.calendar-row {
    padding: 0 1.5rem;

    &.header {
        .columns, .column {
            text-align: center;

            &:first-child {
                border-left: none;
            }
        }
    }

    > .columns, > .column {
        padding: 0;
    }

    .calendar-day {
        position: relative;
        height: 6rem;

        border: 1px solid #000;

        padding: 0.1rem;

        .add-event {
            display: none;
            position: absolute;
            right: 0.1rem;
            top: 0.1rem;
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            .add-event {
                display: block;
            }
        }

        &.today {
            background-color: #ffffcc;
        }

        .sunday {
            color: #b33c33;
        }

        &.different-month {
            background-color: #eee;
            color: #999;
        }

        p, p a {
            font-size: 0.9rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        .calendar-event {
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
                text-overflow: clip;
                overflow: visible;
                z-index: 100;
            }

            a {
                font-size: 0.8rem;
            }
            //            border: 1px solid #333;

            //            a {
            //                color: inherit;
            //            }

            .event-bullet {
                width: 0.8rem;
                height: 0.8rem;
                border: 1px solid #000;
                float: left;
                margin: 0.3rem 0.1rem;

                -webkit-border-radius: 0.4rem;
                -moz-border-radius: 0.4rem;
                border-radius: 0.4rem;
            }

        }
    }
}


/* Calendar Widget */
.ui-datepicker-title {
    select {
        padding: 0;
        height: inherit;
    }
}


/* jQuery overrides */
.ui-button {
    padding: 0 !important;
    margin: 0 !important;

    &.ui-dialog-titlebar-close {
        font-size: 1px !important;
    }
}

.ui-autocomplete {
    z-index: 5000 !important;
}

.ui-dialog-titlebar {
    height: inherit !important;
}


/* Flash Message */
#message .flash {
    padding: 8px 30px;
    margin-bottom: 5px;
    position: relative;
}
.flash_notice, .flash_message {
    border: 1px solid #00A017;
    color: #00A017;
    background: 7px 7px no-repeat image_url('refinery/icons/accept.png') #E0F5E0;
}
.flash_notice, .flash_notice * {
    color: #00A017;
}
.flash_error, .flash_alert {
    border: 1px solid #A00027;
    color: #A00027;
    background: 7px 7px no-repeat image_url('refinery/icons/cancel.png') #FFB1B1;
}
.flash.flash_notice #flash_close, .flash.flash_error #flash_close, .flash.flash_alert #flash_close {
    text-transform: lowercase;
}
.flash.flash_message {
    background: #E0F5E0;
    padding: 9px;
    position: relative;
    margin-bottom: 32px;
    h2 {
        margin-top: 12px;
    }
}
.flash.flash_message.flash_message, .flash_message * {
    color: #262719;
    font-size: 14px;
}
.flash a, .flash a:hover {
    color: #e20003;
    border-bottom-color: #e20003;
}
.flash.flash_error a, .flash.flash_error a:hover,
.flash.flash_alert a, .flash.flash_alert a:hover {
    display: none;
}
noscript .flash.flash_error a, noscript .flash.flash_error a:hover,
noscript .flash.flash_alert a, noscript .flash.flash_alert a:hover {
    display: inline;
    font-weight: bold;
}
.flash a#flash_close {
    position: absolute;
    right: 9px;
    top: 7px;
}
.flash.flash_message a#flash_close {
    top: 21px;
}


/* ROUNDED ONE */
.roundedOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;

    display: inline-block;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 3px 0;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.roundedOne label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 4px;
    top: 4px;

    margin: 0 !important;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #00bf00;

    background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: linear-gradient(top, #00bf00 0%, #009400 100%);

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 2px;
    left: 2px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne input[type=checkbox] {
    visibility: hidden;
}

.roundedOne label:hover span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
