@font-face {
    font-family: 'Circular Std';
    font-weight: 800;
    src: url('/fonts/CircularStd-Black.woff2') format('woff2'),
    url('/fonts/CircularStd-Black.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
    url('/fonts/CircularStd-BlackItalic.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: bold; // 700
    src: url('/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('/fonts/CircularStd-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: bold; // 700
    font-style: italic;
    src: url('/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
    url('/fonts/CircularStd-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: normal; // 300
    src: url('/fonts/CircularStd-Book.woff2') format('woff2'),
    url('/fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: normal; // 300
    font-style: italic;
    src: url('/fonts/CircularStd-BookItalic.woff2') format('woff2'),
    url('/fonts/CircularStd-BookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: 500;
    src: url('/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('/fonts/CircularStd-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Circular Std';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
    url('/fonts/CircularStd-MediumItalic.woff') format('woff');
}
