@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'foundation-extras/footer';

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @import 'motion-ui/motion-ui';

// We include everything by default.  To slim your CSS, remove components you don't use.

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @include motion-ui-transitions;
// @include motion-ui-animations;

@import 'foundation-extras/contact_us';
@import 'foundation-extras/data_fields';


html { height: 100%; }
body, #wrap {min-height: 100%; position: relative;}
body > #wrap {height: auto; min-height: 100vh;}
main {padding-bottom: 520px;}
main > .grid-container { margin-bottom: 1rem;}
@media print, screen and (min-width: 40em) {
    main {padding-bottom: 385px;}
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


.dropdown.menu > li.menu-logo {
    a { padding: 0; }
    img { height: 2.4rem; }
}

.dropdown.menu > li.is-dropdown-submenu-parent:not(.is-active) > a::after {
    border-color: $black transparent transparent;
}

.top-bar, .title-bar {
    a:not(.button) {
        color: $black;

        &:hover {
            color: $primary-color;
        }
    }

    .button {
        margin-bottom: 0;
        min-width: 120px;

        &:not(.primary) {
            background: none;
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }

    .button, button, input {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .input-group {
        margin: 0;

        input {
            max-width: none;
        }
    }

    .menu-icon {
        width: 30px;
        height: 24px;

        &::after {
            height: 4px;
            box-shadow: 0 9px 0 #30384B, 0 18px 0 #30384B;
        }
    }

    .top-bar-right {
        text-align: right;
        flex: 1 1 auto;
    }

    .title-bar-right {
        // Take twice as much width as .title-bar-left
        flex: 2 1 0px;
    }
}

.show-when-stuck {
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.is-stuck .show-when-stuck {
    width: 400px;
}

section {
    position: relative;
    padding: 80px 0;

    &.grey-section {
        background-color: $hr-grey-color;
    }

    &.gold-section {
        background-color: $hr-gold-color;
    }

    &.blue-section {
        background-color: $hr-blue-color;
    }

    &.who-we-are {
        padding: 160px 0 200px;
        background-color: #DFC68C;
    }

    &.about-location {
        padding: 160px 0 200px;
    }

    &.about-brands {
        padding: 160px 0 200px;
    }

    &.about-vendors {
        padding: 160px 0 200px;
    }

    &.section-careers {
        padding: 160px 0 200px;
    }

    &.our-services {

        .grid-container {
            > h1, > h2, > h3, > h4, > h5, > h6, > p {
                text-align: center;
            }
        }

        .card {
            height: 450px;

            -webkit-box-shadow: 0 0 40px rgba(0,0,0,.15);
            -moz-box-shadow: 0 0 40px rgba(0,0,0,.15);
            box-shadow: 0 0 40px rgba(0,0,0,.15);

            .card-divider {
                background-color: get-color(primary);
                color: $white;

                h4 {
                    font-weight: bold;
                }
            }

            img {
                height: 140px;
                object-fit: cover;
            }

            a {
                color: get-color(primary);
            }
        }
    }

    &.testimonials {
        .featured-testimonials-container {
            .orbit-previous {
                color: $black;
                left: -1rem;
            }

            .orbit-next {
                color: $black;
                right: -1rem;
            }
        }

        .testimonial {
            display: flex;
            align-items: center;
            margin: 2rem 1rem;
        }

        .profile-pic {
            max-width: 100px;
            border-radius: 50%;

        }

        .featured-testimonials-quotation {
            margin-left: 3rem;
            margin-bottom: 0rem;
            padding: 1rem;
            position: relative;

            &::before {
                content: "“";
                font-size: 5rem;
                color: lighten($black, 80%);
                position: absolute;
                top: -2.5rem;
                left: -1.5rem;
            }

            &::after {
                content: "”";
                font-size: 5rem;
                color: lighten($black, 80%);
                position: absolute;
                bottom: -4rem;
                right: -.5rem;
            }

            @include breakpoint(small only){
                margin-left: 0;
            }
        }
    }

    &.about-our-team {
        .featured-team-container {
            .orbit-previous {
                color: $black;
                left: -1rem;
            }

            .orbit-next {
                color: $black;
                right: -1rem;
            }
        }

        .team-member {
            display: flex;
            align-items: center;
            margin: 2rem 1rem;
        }

        .profile-pic {
            max-width: 100px;
            border-radius: 50%;

        }

        .team-member-presentation {
            margin-left: 3rem;
            margin-bottom: 0rem;
            padding: 1rem;
            position: relative;

            @include breakpoint(small only){
                margin-left: 0;
            }
        }
    }

    &.contact-us {

    }

    .section-image-frame {
        display: none;

        @include breakpoint(large up) {
            display: block;
        }

        position: absolute;
        left: 50%;
        height: 400px;
        border: 10px solid get-color(primary);
        width: 400px;
        top: 80px;

        &.frame-left {
            left: inherit;
            right: 55%;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: -30px;
            top: 30px;

            -webkit-box-shadow: 0 0 40px rgba(0,0,0,.15);
            -moz-box-shadow: 0 0 40px rgba(0,0,0,.15);
            box-shadow: 0 0 40px rgba(0,0,0,.15);
        }

        &.no-border {
            border: none;

            img {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }

    .section-content-half {
        @include breakpoint(large up) {
            max-width: 450px;
        }

        &.content-right {
            @include breakpoint(large up) {
                margin-left: 50%;
            }
        }
    }
}
