@charset 'utf-8';

@import 'fonts';
@import 'settings';
@import 'foundation';
@import 'foundation-extras/public_footer';

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @import 'motion-ui/motion-ui';

// We include everything by default.  To slim your CSS, remove components you don't use.

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @include motion-ui-transitions;
// @include motion-ui-animations;

@import 'foundation-extras/contact_us';
@import 'foundation-extras/data_fields';
@import 'foundation-extras/pricing';


html { height: 100%; }
body, #wrap {min-height: 100%; position: relative;}
body  #wrap {height: auto; min-height: 100vh;}
main > .grid-container { margin-bottom: 1rem;}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

html,body{font-size:18px;}
h1 {margin-bottom: 2rem;}
h1,h2,h3{font-weight:800;}
h5,h6{text-transform:uppercase; color: $medium-gray; letter-spacing: .8px;}

a.button,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    text-decoration: none;
}

.off-canvas {
    text-align: center;

    .off-canvas-content {
        padding-bottom: 67px;
        text-align: center;

        .off-canvas-header {
            text-align: center;
            height: 67px;
        }
    }

    .off-canvas-footer {
        height: 67px;
        position: absolute;
        clear:both;
        bottom: 0;
        width: 100%;
    }

    .close-button {
        outline: none;
    }
}
@media print, screen and (min-width: 40em) {
    .off-canvas {
        height: 385px;
    }
}

.top-bar, .title-bar, .top-bar ul:not(.submenu):not(.accordion-menu) {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    background-color: transparent;
}

.sticky {
    z-index: 1;

    .menu-home .menu-home-container {
        position: relative;
        height: 100%;

        .menu-home-text, .menu-home-logo {
            position: absolute;
            overflow: hidden;

            -webkit-transition: height 0.2s ease-in-out;
            -moz-transition: height 0.2s ease-in-out;
            -o-transition: height 0.2s ease-in-out;
            transition: height 0.2s ease-in-out;
        }
        .menu-home-text { top: 0; }
        .menu-home-logo { bottom: 2px; }
    }

    &:not(.is-stuck) {
        .menu-home-text { height: 38px; }
        .menu-home-logo { height: 0; }
    }

    &.is-stuck {
        .menu-home-text { height: 0; }
        .menu-home-logo { height: 38px; }

        .top-bar, .title-bar {
            background-color: $white;
        }
    }
}

.dropdown.menu > li.menu-home {
    width: 138px;
    font-weight: bold;

    a { padding-left: 0; }

    a.menu-logo {
        padding: 0 1rem 0 0;
        img { height: 2rem; }
    }
}

.dropdown.menu > li.is-dropdown-submenu-parent:not(.is-active) > a::after {
    border-color: $black transparent transparent;
}

.is-submenu-item a, .is-submenu-item button {
    padding: 0.2rem 1rem;
}

.button {
    margin-bottom: 0;
    min-width: 130px;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.8px;

    &:not(.primary) {
        background: none;
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}

.top-bar, .title-bar {
    font-size: 16px;

    a:not(.button) {
        color: $black;

        &:hover {
            color: $primary-color;
        }
    }

    .button, button, input {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .input-group {
        margin: 0;

        input {
            max-width: none;
        }
    }

    .menu-icon {
        width: 30px;
        height: 24px;

        &::after {
            height: 4px;
            box-shadow: 0 9px 0 #30384B, 0 18px 0 #30384B;
        }
    }

    .top-bar-left {
        padding-left: 24px;
    }

    .top-bar-right {
        text-align: right;
        flex: 1 1 auto;
        padding-right: 24px;
    }

    .title-bar-right {
        // Take twice as much width as .title-bar-left
        flex: 2 1 0px;
    }
}

section.page-section {
    position: relative;
    padding: 80px 0;

    &.section-intro {
        padding: 80px 0 0;

        p {
            font-size: 24pt;
        }
    }

    &.section-integrations {
        background-color: $hr-blue-color;
        color: $white;
        text-align: center;

        .cell {
            margin-bottom: 1rem;
        }

        img {
            max-height: 2.5rem;
            max-width: 125px;
            margin-bottom: 2rem;

            &.logo-dropbox, &.logo-asana {
                margin-top: 10px;
            }
            &.logo-office-365 {
                margin-top: 5px;
            }
            &.logo-slack {
                margin-top: 8px;
            }
            &.logo-xero {
                margin-height: 2.2rem;
            }
        }
    }

    &.section-clients {
        background-color: $hr-gold-color;
        color: $black;
        text-align: center;

        .cell {
            margin-bottom: 1rem;
        }

        img {
            color: $white;
            max-height: 60px;
            max-width: 150px;
            margin-bottom: 2rem;

            &.logo-acne-studios { margin-top: 35px; max-width: 170px; }
            &.logo-bjorn-borg { margin-top: 37px; max-width: 180px; }
            &.logo-canyon { margin-top: 37px; }
            &.logo-columbia { margin-top: 15px; }
            &.logo-depalma-workwear { margin-top: 15px; }
            &.logo-poc { margin-top: 20px; max-width: 140px; }
            &.logo-under-armour { margin-top: 7px; }
            &.logo-wood-wood { margin-top: 30px; max-width: 170px; }
        }

        p {
            font-size: 24pt;
        }
    }

    &.section-quality_plans {
        .tabs-no-border {
            border: none;

            &.tabs {
                display: inline-block;

                .tabs-title > a {
                    text-decoration: none;

                    &[aria-selected=true], &:focus {
                        background: none;
                        text-decoration: underline;
                    }
                }
            }

            &.tabs-content {

            }
        }
    }

    &.large-section {
        p {
            font-size: 24pt;
        }
    }

    &.black-section {
        background-color: $black;
        color: $white;

        a, a:link, a:visited, a:hover {
            color: $white;
        }
    }

    &.grey-section {
        background-color: $hr-grey-color;
    }

    &.gold-section {
        background-color: $hr-gold-color;
    }

    &.blue-section {
        background-color: $hr-blue-color;
        color: $white;
    }

    &.bg-img-section {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-height:425px;
    }

    &.bg-fix-img-section {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-height:425px;
    }

    &.bg-whole-section {
        width:100vw;
        height: 100vh;
        background-position: center center;
        background-size: cover;
    }

    &.who-we-are {
        padding: 160px 0 200px;
        background-color: #DFC68C;
    }

    &.about-location {
        padding: 160px 0 200px;
    }

    &.about-brands {
        padding: 160px 0 200px;
    }

    &.about-vendors {
        padding: 160px 0 200px;
    }

    &.section-careers {
        padding: 160px 0 200px;
    }

    &.our-services {

        .grid-container {
            > h1, > h2, > h3, > h4, > h5, > h6, > p {
                text-align: center;
            }
        }

        .card {
            height: 450px;

            -webkit-box-shadow: 0 0 40px rgba(0,0,0,.15);
            -moz-box-shadow: 0 0 40px rgba(0,0,0,.15);
            box-shadow: 0 0 40px rgba(0,0,0,.15);

            .card-divider {
                background-color: get-color(primary);
                color: $white;

                h4 {
                    font-weight: bold;
                }
            }

            img {
                height: 140px;
                object-fit: cover;
            }

            a {
                color: get-color(primary);
            }
        }
    }

    &.testimonials {
        .featured-testimonials-container {
            .orbit-previous {
                color: $black;
                left: -1rem;
            }

            .orbit-next {
                color: $black;
                right: -1rem;
            }
        }

        .testimonial {
            display: flex;
            align-items: center;
            margin: 2rem 1rem;
        }

        .profile-pic {
            max-width: 100px;
            border-radius: 50%;

        }

        .featured-testimonials-quotation {
            margin-left: 3rem;
            margin-bottom: 0rem;
            padding: 1rem;
            position: relative;

            &::before {
                content: "“";
                font-size: 5rem;
                color: lighten($black, 80%);
                position: absolute;
                top: -2.5rem;
                left: -1.5rem;
            }

            &::after {
                content: "”";
                font-size: 5rem;
                color: lighten($black, 80%);
                position: absolute;
                bottom: -4rem;
                right: -.5rem;
            }

            @include breakpoint(small only){
                margin-left: 0;
            }
        }
    }

    &.about-our-team {
        .featured-team-container {
            .orbit-previous {
                color: $black;
                left: -1rem;
            }

            .orbit-next {
                color: $black;
                right: -1rem;
            }
        }

        .team-member {
            display: flex;
            align-items: center;
            margin: 2rem 1rem;
        }

        .profile-pic {
            max-width: 100px;
            border-radius: 50%;

        }

        .team-member-presentation {
            margin-left: 3rem;
            margin-bottom: 0rem;
            padding: 1rem;
            position: relative;

            @include breakpoint(small only){
                margin-left: 0;
            }
        }
    }

    &.contact-us {

    }

    .section-image-frame {
        display: none;

        @include breakpoint(large up) {
            display: block;
        }

        position: absolute;
        left: 50%;
        height: 400px;
        border: 10px solid get-color(primary);
        width: 400px;
        top: 80px;

        &.frame-left {
            left: inherit;
            right: 55%;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: -30px;
            top: 30px;

            -webkit-box-shadow: 0 0 40px rgba(0,0,0,.15);
            -moz-box-shadow: 0 0 40px rgba(0,0,0,.15);
            box-shadow: 0 0 40px rgba(0,0,0,.15);
        }

        &.no-border {
            border: none;

            img {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }

    .section-content-half {
        @include breakpoint(large up) {
            max-width: 450px;
        }

        &.content-right {
            @include breakpoint(large up) {
                margin-left: 50%;
            }
        }
    }

    img.resp-img {
        width: 100%;
        margin-bottom: 2rem;
    }

    .tech-splash {
        /* 964.04 / (3 * 141 + 2 * 29) */
        margin: 10vh 10vw 3rem;
        //max-height: 80vh;
        position: relative;

        .tech-splash-outer {
            position: relative;
            padding-top: 50%;

            .tech-splash-inner {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                text-align: center;

                img {
                    display: block;
                    margin: 0 auto 3%;
                    height: 29.3%;

                    -webkit-transition: opacity 0.2s ease-in-out;
                    -moz-transition: opacity 0.2s ease-in-out;
                    -ms-transition: opacity 0.2s ease-in-out;
                    -o-transition: opacity 0.2s ease-in-out;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}

article.blog_post {
    margin-bottom: 2rem;

    header {
        margin: 2rem 0;
    }

    img {
        margin-bottom: 1.5rem;
    }
}
