<% content_for :body do %>
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h2>Inspections</h2>
    </div>

    <div class="cell medium-3">
      <h5>
        <i class="fa fa-check-circle"></i>
        Pass rate
      </h5>
      <%= render 'chart_pass_rate', chart_id: 'chart-pass-rate-qty', source_table_id: 'js_inspections_data_table' %>
    </div>

    <div class="cell medium-9">
      <h5>
        <i class="fa fa-exclamation-triangle"></i>
        Top Defects
      </h5>
      <%= render 'chart_top_defects', chart_id: 'chart-top-defects', source_table_id: 'js_inspections_data_table' %>
    </div>

    <div class="cell">
      <h4>All inspections</h4>

      <%= render 'table', table_id: 'js_inspections_data_table', options: {} %>
    </div>
  </div>
<% end %>

<%= render '/refinery/content_page' %>
