.avatar {
    width: 38px;
    min-width: 38px;
    height: 38px;
    font-size: 1rem;
    font-weight: 600;

    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    line-height: 2.5;
    border-radius: 1000px;
    -webkit-perspective: 1px;
    perspective: 1px;

    &.avatar-no-img {
        color: #fff;
        background-color: $hr-blue-color;
    }
}

.avatar-menu-item {
    &:after {
        border-color: transparent transparent transparent !important;
    }
    padding: 0 1rem !important;
}