article.blog_post {
    margin-bottom: 4rem;

    header {
        margin: 2rem 0;
    }

    img {
        margin-bottom: 1.5rem;
    }

    a {
        font-weight: bold;
    }

    .tagged {
        display: block;
        text-align: center;

        a {
            text-decoration: none;
            //border-radius: 1rem;
            padding: 0.25rem 0.5rem;
            background-color: $primary-color;
            color: $white;
        }

        &::before {
            width: 1rem;
        }
    }
}


article.blog-teaser {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 20rem 1fr;
    grid-template-areas:
            "thumb teaser"
            "empty teaser";
    grid-column-gap: 4rem;
    margin-bottom: 5rem;

    .blog-thumb {
        grid-area: thumb;

        .image-box {
            position: relative;
            margin: auto;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .image-box img {
            transition: all 0.3s;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
        }
    }

    &:hover {
        .image-box img {
            transform: scale(1.1);
        }
    }

    .blog-teaser-content {
        grid-area: teaser;

        /* Do not implement text alignment from post content in teaser */
        .text-align-center, .text-align-right {
            text-align: left;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        section.details {
            margin-bottom: 0.5rem;
        }

        footer {
            .tagged {
                display: inline-block;

                a {
                    text-decoration: none;
                    //border-radius: 1rem;
                    padding: 0.25rem 0.5rem;
                    background-color: $primary-color;
                    color: $white;
                }

                &::before {
                    width: 1rem;
                }
            }
        }
    }

    @include breakpoint(medium only){
        grid-template-columns: 33vw 1fr;
        grid-template-rows: 33vw 1fr;
    }

    @include breakpoint(small only){
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vw - 45px) 1fr; /* Calculate same height as viewport width minus total margin of grid */
        grid-row-gap: 2rem;
        grid-template-areas:
                "thumb"
                "teaser";
    }
}
