.cookies-eu { /* main div */
    padding: 20px;
    min-height: 4rem;
    line-height: 30px;

    .cookies-eu-button-holder { /* button holder */
        .cookies-eu-ok { /* button */
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0.85rem 1.5rem;
            border: 1px solid transparent;
            border-radius: 0;
            transition: background-color 0.25s ease-out, color 0.25s ease-out;
            font-family: inherit;
            -webkit-appearance: none;
            line-height: 1;
            text-align: center;
            cursor: pointer;
            background-color: #30384B;
            color: #f6f4f3;
            min-width: 130px;
            text-transform: uppercase;
            font-size: 0.6rem;
            letter-spacing: 1.8px;
            text-decoration: none;
            background-color: #30384B;
            color: #f6f4f3;
        }
        .cookies-eu-link { /* link */

        }

    }
}
.cookies-eu-content-holder { /* content holder */

}

@media (max-width: 767px) {
    .cookies-eu {
        font-size: 12px;
        line-height: 20px;
        position: fixed;
    }
}
