footer {
    position: absolute;
    margin-top: -520px; /* negative value of footer height */
    height: 520px;
    clear:both;
    bottom: 0;
    width: 100%;

    background-color: $hr-gold-color;
    /*color: #ccc;*/
    padding: 20px 0 10px;

    p {
        font-size: 14px;
        margin: 0;
    }

    hr {
        border-color: $primary-color;
    }

    .footer-left, .footer-right, .footer-left a, .footer-right a {
        font-size: 12px;
        /*color: #999;*/
        margin-top: 20px;
    }
    .footer-left {
        float: left;

        span {
            padding-right: 3px;
        }

        span:not(:first-child) {
            border-left: 1px solid #999;
            padding-left: 5px;
        }
    }
    .footer-right { float: right; }
}

@media print, screen and (min-width: 40em) {
    footer {
        padding: 80px 0 40px;
        margin-top: -385px; /* negative value of footer height */
        height: 385px;
    }
}
