footer {
    background-color: #222;
    color: #ccc;
    padding: 80px 0 40px;

    p {
        font-size: 14px;
        margin: 0;
    }

    .footer-left, .footer-right, .footer-left a, .footer-right a {
        font-size: 12px;
        color: #999;
        margin-top: 20px;
    }
    .footer-left {
        float: left;

        span {
            padding-right: 3px;
        }

        span:not(:first-child) {
            border-left: 1px solid #999;
            padding-left: 5px;
        }
    }
    .footer-right { float: right; }
}
