.portal-card {

    border-radius: 25px;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    
    &:hover {
        -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.75);
    }

    .card-divider {
        background-color: $white;
        border-bottom: 1px solid $light-gray;
        color: #444;
    }

    .card-section {

    }

    .card-footer {
        background-color: #eee;
        flex: 1 0 auto;
        padding: 1rem;
    }
}
