#pricing-tabs {
    margin-bottom: 3rem;

    .tabs-title {
        width: 250px;
        margin: 0 1rem;
        border-bottom: 3px solid $medium-gray;

        &.is-active {
            border-color: $black;

            a, a:focus {
                color: $black;
            }
        }

        a, a:focus {
            color: $medium-gray;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }

    @include breakpoint(small only) {
        width: 100%;
        margin-bottom: 1rem;

        .tabs-title {
            width: 45%;
            margin: 0 2.5%;
            white-space: nowrap;
            overflow: hidden;

            a, a:focus, a[aria-selected="true"] {
                font-size: 1rem;
                padding: 0.25rem 0.5rem;
            }
        }
    }
}

.tabs-panel-plans, .tabs-panel-pay-as-you-go {
    padding: 0;

    .orbit-previous, .orbit-next {
        color: $medium-gray;

        &:hover {
            background: none;
            color: $hr-blue-color;
        }
    }

    .orbit-bullets button {
        background-color: $medium-gray;

        &.is-active {
            background-color: $hr-blue-color;
        }
    }
}

.pricing-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, calc(25% - 20px));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    margin-top: 1rem;

    @include breakpoint(medium up) {
        overflow-x: visible;
    }
}

.tabs-panel-pay-as-you-go .pricing-container {
    grid-template-columns: repeat(3, calc(33% - 20px));
    width: 76%;
    margin: 0 auto;
}

.pricing-item {
    position: relative;
    margin: 2rem 0.3rem;
    box-shadow: 0 16px 24px -4px rgba(0,0,0,0.16);

    .pricing-header {
        height: auto;
        padding: 0 .9em 0;
        pointer-events: auto;
        text-align: center;
        background-color: transparent;

        p {
            line-height: 1.2;
        }

        .pricing-header-promo {
            position: absolute;
            top: -40px;
            left: 0;
            width: 100%;
            padding: 0.5rem 1rem;
            height: 40px;
            background-color: $hr-green-color;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .pricing-header-banner {
            background-color: $hr-blue-color;
            color: $white;
            margin: 0 -0.9em 1rem;
            padding: 1rem;

            h2 {
                font-size: 1.8rem;
                margin-bottom: 3px;
                font-weight: normal;

                @include breakpoint(medium only) {
                    font-size: 1rem;
                }
            }
        }

        .number {
            font-size: 7rem;
            font-weight: bold;
            line-height: 1;

            @include breakpoint(medium only) {
                font-size: 3rem;
            }
        }
    }

    .pricing-body {
        overflow-x: visible;
        /* smooth scrolling on touch devices */
        -webkit-overflow-scrolling: touch;

        .pricing-features {
            list-style: none;
            margin: 0;

            li {
                float: none;
                width: auto;
                padding: 1rem;
                font-size: 1rem;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.2;

                &:nth-of-type(2n+1) {
                    background-color: rgba(23,61,80,.06);
                }

                .feature-large {
                    display: block;
                    font-size: 2rem;
                    line-height: 1;
                }

                @include breakpoint(medium only) {
                    padding: 0.5rem 0.2rem;
                    font-size: 1rem;

                    .feature-large {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .pricing-footer {
        position: relative;
        height: 93px;
        width: 100%;

        .button {
            margin: 25px 0.5rem;
        }

        @include breakpoint(medium only) {
            height: 43px;

            .button {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0.85rem 0.5rem;
                min-width: 110px;
            }
        }
    }
}
