$footer-height: 670px;
$footer-medium-height: 374px;

footer.page-footer {
    position: absolute;
    clear:both;
    bottom: 0;
    width: 100%;

    background-color: $primary-color;
    color: $white;

    h1,h2,h3,h4,h5,h6, a, a:link, a:visited, a:hover {
        text-decoration: none;
        color: $white;
    }
    h5,h6 {
        font-weight: bold;
        font-size: 1rem;
        text-transform: none;
        margin-bottom: 1rem;
    }

    p {
        margin: 0;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    button, input[type=button], input[type=submit] {
        border: 2px solid $white;
        margin-left: 1rem;
    }

    .follow-us {
        margin-bottom: 40px;

        i.fa {
            font-size: 1rem;
            display: inline-block;
            margin: 0 1rem 0 0;
        }
    }

    .footer-left, .footer-right, .footer-left a, .footer-right a {
        font-size: 12px;
        /*color: #999;*/
        margin-top: 20px;
    }
    .footer-left {
        float: left;

        span {
            padding-right: 3px;
        }

        span:not(:first-child) {
            border-left: 1px solid #999;
            padding-left: 5px;
        }
    }
    .footer-right { float: right; }
}

/* Small view */
footer.page-footer {
    padding: 40px 0;
    margin-top: -$footer-height; /* negative value of footer height */
    height: $footer-height;
}
main { padding-bottom: $footer-height; }

/* Medium and up view */
@media print, screen and (min-width: 40em) {
    footer.page-footer {
        padding: 60px 0 40px;
        margin-top: -$footer-medium-height; /* negative value of footer height */
        height: $footer-medium-height;
    }
    main { padding-bottom: $footer-medium-height; }
}
