.statistics {
    display: grid;
    grid-template-rows: 160px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    .stat-box {
        .header {

        }

        .value {

        }

        .footer {

        }
    }
}
