div.widget {
    width: calc(100% - 30px);
    padding: 10px 12px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background: $white;
    display: block;
    border-radius: 3px;
    //border: 1px solid #d6d6d6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    header {
        width: 100%;
        margin: -10px -12px;
        padding: 10px 12px;
        font-size: 0.8rem;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        box-sizing: content-box;

        small {
            float: right;
        }
    }

    table.widget-table {
        margin: 0 -12px;
        width: calc(100% + 24px);

        thead {
            background-color: $hr-blue-color;
            color: $white;

            border-left: 12px solid $hr-blue-color;
            border-right: 12px solid $hr-blue-color;
        }

        tbody {
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;

            tr {
                background-color: transparent;
            }
        }
    }

    div.widget-body {
        margin-top: 9px;
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding-bottom: 5px;
        overflow-wrap: break-word;
        background: $white;

        a.widget-link, div.widget-item {
            display: block;
            padding: 6px 12px 4px;
            font-size: 0.9rem;
            width: 100%;
            margin-left: -12px;
            box-sizing: content-box;
            border-bottom: 1px solid #dbdbdb;

            &:first-child {
                border-top: 1px solid #dbdbdb;
            }

            .widget-item-trail {
                float: right;
                color: $dark-gray;
                font-size: 0.6rem;
            }

            .widget-type {
                display: inline-block;
                border: 1px solid #c2c2c2;
                color: #737373;
                padding: 0px 5px;
                font-size: 0.77em;
                border-radius: 3px;
                margin-bottom: 3px;
                line-height: 1.3em;
            }

            .item-footer {
                color: #999;
                font-size: 0.7rem;
            }
        }

        a.cta {
            margin: 15px auto 0;
            width: 85%;
            text-align: center;
            display: block;
        }

        p {
            margin: 14px 0px 8px;

            &.widget-subtext {
                text-align: center;
                font-style: italic;
                font-size: 0.8rem;
            }
        }
    }
}
